.button {
  text-align: center;
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;
  color: var(--clr-crust);
}

.button:disabled,
.button[disabled] {
  background-color: var(--clr-overlay0) !important;
}
