.editor {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr min-content;
  grid-template-areas:
    "main"
    "controls";
  justify-items: center;
  align-items: center;
}

.controls {
  padding: 1rem;
  grid-area: controls;
  justify-self: stretch;
}

.canvas {
  grid-area: main;
  max-width: 100%;
  max-height: 100%;
}

.loading {
  grid-area: main;
}
