::backdrop {
  background-color: var(--clr-background);
}

.dialog {
  background-color: transparent;
  border: none;
}
.dialog::backdrop {
  opacity: 0.7;
}
.dialog > form {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1rem;
}

.text-input, .text-input:focus, .text-input:hover {
  font-family: inherit;
  font-size: 1.2rem;
  text-align: center;

  border: none;
  outline: none;
  border-bottom-style: solid;
  border-radius: 4px;

  padding: 0.3rem;

  background-color: unset;
  color: var(--clr-text);
}
.text-input {
  border-bottom-color: var(--clr-overlay0);
  border-bottom-width: 2px;
  transition: 0.1s;
}
.text-input:focus {
  border-bottom-color: var(--clr-blue);
  border-bottom-width: 5px;
  transition: 0.1s;
}
.text-input::placeholder {
  opacity: 0.5;
}
