.page-control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.page-display {
  padding: 0.5rem;
  border-radius: 4px;
  background-color: var(--clr-overlay0);
  color: var(--clr-crust);
}
