:root,
::backdrop {
  font-family: 'Poppins', serif;
  --clr-background: #24273a;
  --clr-overlay0: #6e738d;
  --clr-text: #cad3f5;
  --clr-blue: #8aadf4;
  --clr-crust: #181926;
  --clr-green: #a6da95;
  --clr-yellow: #eed49f;
}

::backdrop {
  background-color: var(--clr-background);
}

html {
  height: 100%;
  width: 100%;
  padding: 0;
}

body {
  position: absolute;
  inset: 0;
  color: white;
  padding: 0;
  margin: 0;

  height: 100%;
  width: 100%;
}

#main {
  width: 100%;
  height: 100%;
  background-color: var(--clr-background);

  display: grid;
  grid-template-rows: 1fr min-content;
  grid-template-areas:
    "main"
    "controls";
  justify-items: center;
  align-items: center;
}

#picker {
  grid-area: main;
}

#canvas {
  grid-area: main;
  max-width: 100%;
  max-height: 100%;
}

#controls {
  padding: 1rem;
  grid-area: controls;
  justify-self: stretch;
}
.control {
  width: 100%;
  display: grid;
  grid-template-columns: max-content 1fr;
}

#text-input, #text-input:focus, #text-input:hover {
  font-family: inherit;
  font-size: 1.2rem;
  text-align: center;

  border: none;
  outline: none;
  border-bottom-style: solid;
  border-radius: 4px;

  padding: 0.3rem;

  background-color: unset;
  color: var(--clr-text);
}
#text-input {
  border-bottom-color: var(--clr-overlay0);
  border-bottom-width: 2px;
  transition: 0.1s;
}
#text-input:focus {
  border-bottom-color: var(--clr-blue);
  border-bottom-width: 5px;
  transition: 0.1s;
}
#text-input::placeholder {
  opacity: 0.5;
}

#text-control {
  background-color: transparent;
  border: none;
}
#text-control::backdrop {
  opacity: 0.7;
}
#text-control > form {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1rem;
}

.btn {
  text-align: center;
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;
  color: var(--clr-crust);
}
.btn-accept {
  background-color: var(--clr-green);
}
.btn-download {
  background-color: var(--clr-blue);
}
.btn-refresh {
  background-color: var(--clr-yellow);
}

