:root,
::backdrop {
  font-family: 'Poppins', serif;
  --clr-background: #24273a;
  --clr-overlay0: #6e738d;
  --clr-text: #cad3f5;
  --clr-blue: #8aadf4;
  --clr-crust: #181926;
  --clr-green: #a6da95;
  --clr-yellow: #eed49f;
}

html {
  height: 100%;
  width: 100%;
  padding: 0;
}

body {
  background-color: var(--clr-background);
  color: var(--clr-text);
  font-family: "Poppins", serif;
  padding: 0;
  margin: 0;

  height: 100%;
  width: 100%;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

a {
  margin-right: 1rem;
}

main {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1em;
  margin: 0 auto;
}

h1 {
  color: #335d92;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 100;
  line-height: 1.1;
  margin: 4rem auto;
  max-width: 14rem;
}

p {
  max-width: 14rem;
  margin: 2rem auto;
  line-height: 1.35;
}

@media (min-width: 480px) {
  h1 {
    max-width: none;
  }

  p {
    max-width: none;
  }
}
